#ticket {
  height: 1500px;
}

.ticket_container ,.ticket_container_ag{
  height: 100%;
  width: 100%;
  overflow-y: scroll
}

.ticket {
  position: relative;
  margin: 0px 0px 0px 60px;
  height: 100%;
  width: 800px;
}

.ticket img {
  display: block;
  margin: 65px auto 0px auto;
}

.input_fiche_preventive {
  position: absolute;
  top: 261px;
  left: 512px;
  width: 30px;
  height: 35px;
  cursor: pointer;
}

.input_fiche_curative {
  position: absolute;
  top: 261px;
  left: 749px;
  width: 30px;
  height: 35px;
  cursor: pointer;
}

.ticket_ouvert{
  position: absolute;
  top: 316px;
  left: 210px;
  width: 24px;
  height: 35px;
  cursor: pointer;
}

.ticket_container_ag .ticket_ouvert{
  top: 558px;
  left: 312px;
}

.ticket_container_ag .ticket_ferme{
  top: 559px;
  left: 451px;
}

.num_ticket {
  position: absolute;
  top: 400px;
  left: 289px;
  width: 286px;
  height: 29px;
  font-size: 22px;
}
.equipement_1{
  position: absolute;
  top: 964px;
  left: 15px;
  width: 279px;
  height: 40px;
}
.type_1{
  position: absolute;
  top: 964px;
  left: 293px;
  width: 211px;
  height: 40px;
}
.num_serie_1{
  position: absolute;
  top: 964px;
  left: 504px;
  width: 177px;
  height: 40px;
}
.etat_1{
  position: absolute;
  top: 964px;
  left: 681px;
  width: 112px;
  height: 40px;
}
.observation_1{
  position: absolute;
  top: 964px;
  left: 793px;
  width: 352px;
  height: 40px;
}

.id_site {
  position: absolute;
  top: 433px;
  left: 179px;
  width: 396px;
  height: 29px;
  font-size: 22px;
}

.id_fournisseur {
  position: absolute;
  top: 466px;
  left: 283px;
  width: 292px;
  height: 29px;
  font-size: 22px;
}

.id_technicien {
  position: absolute;
  top: 498px;
  left: 275px;
  width: 301px;
  height: 29px;
  font-size: 22px;
}

.periode {
  position: absolute;
  top: 530px;
  left: 219px;
  width: 356px;
  height: 29px;
  font-size: 22px;
}

.ticket_ferme {
  position: absolute;
  top: 316px;
  left: 316px;
  width: 24px;
  height: 35px;
  cursor: pointer;
}

.numero_ticket {
  position: absolute;
  top: 323px;
  left: 133px;
  width: 68px;
  height: 20px;
}

.trimestre {
  position: absolute;
  top: 284px;
  left: 208px;
  width: 40px;
  height: 20px;
}

.annees {
  position: absolute;
  top: 284px;
  left: 274px;
  width: 31px;
  height: 20px;
}

.site {
  position: absolute;
  top: 486px;
  left: 63px;
  width: 174px;
  height: 59px;
  resize: none;
}

.date_heure_signalisation {
  position: absolute;
  top: 486px;
  left: 237px;
  width: 167px;
  height: 59px;
  resize: none;
}

.date_heure_reponse {
  position: absolute;
  top: 486px;
  left: 404px;
  width: 215px;
  height: 60px;
  resize: none;
}

.severite {
  position: absolute;
  top: 486px;
  left: 619px;
  width: 84px;
  height: 61px;
  resize: none;
}

.temp_restoration {
  position: absolute;
  top: 486px;
  left: 703px;
  width: 119px;
  height: 61px;
  resize: none;
}

.temp_resolution {
  position: absolute;
  top: 486px;
  left: 822px;
  width: 144px;
  height: 61px;
  resize: none;
}

.res_servers_pseries{
  position: absolute;
  top: 625px;
  left: 456px;
  width: 90px;
  height: 30px;
  resize: none;
}

.ob_servers_pseries{
  position: absolute;
  top: 626px;
  left: 546px;
  width: 440px;
  height: 30px;
  resize: none;
}

.res_servers_intel{
  position: absolute;
  top: 655px;
  left: 456px;
  width: 90px;
  height: 30px;
  resize: none;
}

.ob_servers_intel{
  position: absolute;
  top: 656px;
  left: 546px;
  width: 440px;
  height: 30px;
  resize: none;
}

.res_baie_disque{
  position: absolute;
  top: 685px;
  left: 456px;
  width: 90px;
  height: 29px;
  resize: none;
}

.ob_baie_disque{
  position: absolute;
  top: 686px;
  left: 546px;
  width: 440px;
  height: 30px;
  resize: none;
}

.res_bladecenter{
  position: absolute;
  top: 714px;
  left: 456px;
  width: 90px;
  height: 26px;
  resize: none;
}

.ob_bladecenter{
  position: absolute;
  top: 716px;
  left: 546px;
  width: 440px;
  height: 25px;
  resize: none;
}

.res_robot_sauvegarde{
  position: absolute;
  top: 740px;
  left: 456px;
  width: 90px;
  height: 29px;
  resize: none;
}

.ob_robot_sauvegarde{
  position: absolute;
  top: 741px;
  left: 546px;
  width: 440px;
  height: 28px;
  resize: none;
}

.res_switch{
  position: absolute;
  top: 769px;
  left: 456px;
  width: 90px;
  height: 30px;
  resize: none;
}

.ob_switch{
  position: absolute;
  top: 769px;
  left: 546px;
  width: 440px;
  height: 30px;
  resize: none;
}

.res_imprimante{
  position: absolute;
  top: 799px;
  left: 456px;
  width: 90px;
  height: 31px;
  resize: none;
}

.ob_imprimante{
  position: absolute;
  top: 799px;
  left: 546px;
  width: 440px;
  height: 31px;
  resize: none;
}

.res_onduleur{
  position: absolute;
  top: 830px;
  left: 456px;
  width: 90px;
  height: 34px;
  resize: none;
}

.ob_onduleur{
  position: absolute;
  top: 830px;
  left: 546px;
  width: 440px;
  height: 34px;
  resize: none;
}

.conclusion_generale {
  position: absolute;
  top: 895px;
  left: 58px;
  width: 908px;
  height: 151px;
  resize: none;
}

.conclusion_generale_ticket {
  position: absolute;
  top: 686px;
  left: 52px;
  width: 908px;
  height: 151px;
  resize: none;
}

.nom_sbm {
  position: absolute;
  top: 1145px;
  left: 106px;
  width: 288px;
  height: 30px;
  resize: none;
}

.nom_client {
  position: absolute;
  top: 1144px;
  left: 767px;
  width: 220px;
  height: 30px;
  resize: none;
}

.commentaire_client {
  position: absolute;
  top: 1145px;
  left: 395px;
  width: 318px;
  height: 177px;
  resize: none;
}

.nuu {
  height: 40px;
  width: 40px;
}

#dl {
  cursor: pointer;
}

#idCanvas {
  margin-top: 65px;
}

.button_container ,#preview_button{
  position:absolute;
  top: 25px;
  right: 100px;
  font-size: 17px;
}

.button_container button:nth-child(1) {
  margin-right: 23px;
}

.button_container button{
  font-size: 17px;
}

.display_none {
  display: none;
}

.ticket_container canvas,.ticket_container_ag canvas{
  height: 1500px;
}